<form>
  <div class="row g-3">
    <div class="col-md-8">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="inputCep" class="form-label">CEP</label>
      <input
        type="text"
        class="form-control"
        id="inputCep"
        name="inputCep"
        (change)="buscarCep()"
        [(ngModel)]="cep"
      />
    </div>

    <div class="col-6">
      <label for="inputLogradouro" class="form-label">Logradouro</label>
      <input
        [(ngModel)]="endereco.logradouro"
        type="text"
        class="form-control"
        id="inputLogradouro"
        name="inputLogradouro"
        placeholder="Avenida Brasil , 129"
      />
    </div>
    <div class="col-2">
      <label for="inputNumero" class="form-label">Numero</label>
      <input type="text" id="numero" name="numero" class="form-control" />
    </div>
    <div class="col-4">
      <label for="inputBairro" class="form-label">Bairro</label>
      <input
        type="text"
        class="form-control"
        id="inputBairro"
        name="inputBairro"
        placeholder="Jardim da Queren"
      />
    </div>
    <div class="col-md-4">
      <label for="inputCidade" class="form-label">Cidade</label>
      <input type="text" class="form-control" id="inputCidade" />
    </div>

    <div class="col-md-4">
      <label for="inputEstado" class="form-label">Estado</label>
      <select id="inputEstado" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">&nbsp;</div>
    <div class="col-1">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </div>
</form>
